/* * Catppuccin Mocha Palette */

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-family:
        "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    /*background-color: transparent;*/
    background-color: rgba(30, 30, 46, 0.7);
    border: 1px solid @lavender;
    border-radius: 20px;
    /*padding: 10px 10px;*/

    /* enable clean flex alignment */
    /* forces modules-left → left, modules-center → center, modules-right → right */
    font-family: "JetBrainsMono Nerd Font", sans-serif;

    /* F L E X  L A Y O U T */
    margin: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* --- Module Groups --- */

/* Left (Workspaces + Clock) */

.modules-left,
.modules-center,
.modules-right {
    margin: 5px 5px;
    padding: 2px 0;
    border-radius: 16px;
    /*border: 1px solid @maroon;*/
    background-color: rgba(30, 30, 46, 0.7);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @overlay1;
    border-radius: 30px;
    /*transition: all 0.8s ease;*/
    margin: 0 3px;
}

#workspaces button:hover {
    background-color: @lavender;
    color: @text;
}

#workspaces button.active {
    color: white;
    background-color: @red;
   
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#custom-power {
    padding: 0 10px;
    color: @text;
}

#custom-media-prev,
#custom-media-next {
    font-size: 16px; /* Slightly larger icons */
    color: @subtext0;
    padding: 0 10px;
    transition: color 0.3s;
}

#custom-media-prev:hover,
#custom-media-next:hover {
    color: @text;
}

#mpris {
    color: @mauve;
    padding: 0 5px;
}

#clock {
    color: @rosewater;
}

#network {
    color: @sapphire;
}

#pulseaudio {
    color: @green;
}

#battery {
    color: @peach;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: @red;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

@keyframes blink {
    to {
        color: @text;
    }
}
